<br>

<% @grams.each do |gram| %>
  <p><%= gram.user.email %></p>
  <%= link_to gram_path(gram) do %>
    <%= image_tag gram.image, class: 'responsive-img' %>
  <% end %>
  <p><%= gram.caption %></p>
  <div class="divider"></div>
<% end %>
