<br>
<% @grams.each do |gram| %>
  <div class="valign-wrapper user-header">
    <i class="material-icons">account_circle</i>
    <span class="username">
      <%= gram.user.email %>
    </span>
  </div>
  <%= link_to gram_path(gram) do %>
    <%= image_tag gram.image, class: 'responsive-img' %>
  <% end %>

  <div class="valign-wrapper">
    <%= gram.caption %>
  </div>

  <div class="divider"></div>
<% end %>
