<h1>New Grams</h1>

<%= simple_form_for @gram do |f| %>
  <%= f.input :caption, input_html: {class: "materialize-textarea"} %>
  <%= f.button :button, "Post", class: "waves-effect waves-light btn" %>
<% end %>
